@tailwind base;
@tailwind components;
@tailwind utilities;

.flip {
  transform: rotateY(180deg);
}

.backface-visibility-hidden {
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
