<div class="flex flex-wrap justify-center">
  {{#each @tiles as |tile|}}
    <Tile
      @tile={{tile}}
      @onTileSelected={{this.tileSelected}}
      @readOnly={{this.readOnly}}
    />
  {{/each}}
</div>