{{page-title "Memory Game"}}

<div class="container mx-auto pt-4">
  <h1 class="w-full text-center font-semibold text-2xl">
    Memory Game
  </h1>

  <div class="mt-8">
    {{outlet}}
  </div>
</div>
