{{page-title "Memory Game"}}

<div class="max-w-2xl mx-auto p-4">
  <header>
    <h1 class="w-full text-center font-semibold text-2xl">
      Memory Game
    </h1>
  </header>

  <div class="mt-8">
    {{outlet}}
  </div>

  <footer class="mt-6 p-2 text-center">
    Made with ❤️ by
    <a
      href="https://github.com/barryofguilder"
      class="hover:text-purple-400 hover:underline hover:underline-offset-4 hover:decoration-2 hover:decoration-purple-700"
    >
      @barryofguilder
    </a>
  </footer>
</div>